################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StructureMapExample/.vs/StructureMapExample/v15
